{% extends 'base.html' %}
{% import 'macros.html' as macro %}
<!-- Content block -->
{% block content %}
    <div class="container my-3">
                <div class="row">
                    <legend>
                        <h3 class="text-center">News API Application</h3>
                        <hr>
                    </legend>
                   <p>
                       Welcome to this news application. This application uses <a target="_blank" href="https://newsapi.org/">New API</a> to 
                       fetch and generate News for you from various news sources.Use the <b>above links</b> to check for latest top news from
                       various news sources. Enjoy!
                   </p>
                   <!-- serach form -->
                   <p>
                    <form class="mx-auto d-block" style="width: 60%;">
                        <input type="text" name="source_query" placeholder="search using domain name, e.g cnn.com" class="input-lg form-control my-1">
                        
                        <input type="submit"  value="Search" class="btn btn-info btn-sm btn-block mx-auto d-block">
                    </form>
                   </p>
        </div>
    </div>
{% endblock %}